@(unwatched: List[TVShow], watching: List[TVShow], watched: List[TVShow])
<html lang="">
    <head>
        <title>Minhas Séries</title>
        <meta charset="UTF-8">
        <meta name=description content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="">
            <!-- Bootstrap core CSS -->
        <link href="@routes.Assets.at("css/bootstrap.css")" rel="stylesheet">
            <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("css/main.css")" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top navbar-xs">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"><span class="glyphicon glyphicon-film"></span> Minhas Séries</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-4">
                    <br>
                    <ul class="list-group">
                    @for(show <- unwatched) {
                        <li class="list-group-item">
                            @show.getName
                            <span class="pull-right">
                                <span class="glyphicon glyphicon-list"></span>
                                <span class="glyphicon glyphicon-play-circle"></span>
                            </span>
                            <ul class="list-group seasons">
                                @for(season <- show.getSeasons) {
                                <li>@season.getNumber</li>
                            }
                            </ul>
                        </li>
                    }
                    </ul>
                </div>
            </div>
        </div>
            <!-- jQuery -->
        <script src="http://code.jquery.com/jquery.js"></script>
            <!-- Bootstrap JavaScript -->
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("js/script.js")"></script>
    </body>
</html>

